dist/kalender/
dist/config.env
dist/WebLook.zip
dist/user_manual.md
build/
kalender/
config.env
file.txt
json_output.txt
user_manual.pdf
WebLook.spec
login_test.py
init_url_get.txt
login_test2.py
config-template.ini
neuburg_ec10.txt
main.spec
.spec